<a href="https://colab.research.google.com/github/donggeunahn/class-2022-spring/blob/main/requests_gradio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests 
#api를 갖고 오는 방법 
#api는 부품처럼 프로그래머가 사용함
#rest api가 표준 유형
#데이터 포맷 -->JSON+XML
#요청변수--> 어떤 것을 입력을 요청할 것인가--> 출력을 해줌
#request하면 response가 옴

import pandas as pd

In [ ]:
requests.get('')#api 요청 메시지 넣기

In [4]:
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/' #주소-->서비스 url하고 일치
      'getCtprvnMesureSidoLIst?' #?가 나오는건 세부서비스
      'sidoName=서울' #시도이름
      '&searchCondition=hour' #hour로-->매시간마다
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json' #어떤 식으로 output받을건지
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D') #암호키
#요청메시지를 copy
response = requests.get(URL) 
# api는 여기서 끝남 이후에는 어떻게 이쁘게 볼지

In [5]:
response #response code 200은 잘처리가됐다

#### http://jsonviewer.stack.hu/ (copy json here to view json) 
json viewer--> response 밑 body 밑 item에 0번째부터 구성

In [7]:
r = response.json() #json의 형태로달라고 했기 때문에 -->dict형태 hierachy가 있음

In [ ]:
print(type(r)) #dict -->z{key:values}
#z[key]-->values가 나옴

<class 'dict'>

In [8]:
items = r['response']['body']['items']
#json response받은 것중에 body 밑에 items라는 변수로 받자
#item의 구조는 [{강남구만큼이 dict, 서초구 dict...}]
#items[0]--> 강남구 dict만

#위의 url을 바탕으로 함-->sidoname 서울

cityName = [item['cityName'] for item in items] #items는 list로 모든 구가 적혀있음
  #list를 가지고 25번 돌거다->item중에 city name이 있는 것들의 value값을 넣어라
pm10Value = [item['pm10Value'] for item in items]
#item에 있는 pm10 값이 for loop로 다 list로 잡힐 것이다
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

cityName = pd.Series(cityName) #pd.series를 거치면 칼럼에 해당하는 값으로 변함
pm10Value = pd.Series(pm10Value)   
pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
#엑셀로 만듦-->'칼럼명':dict의 value 값 
#예쁘게하기 위해서

In [ ]:
df

   cityName pm10Value pm25Value so2Value coValue o3Value no2Value
0       강남구        35        22    0.005     0.4   0.041    0.025
1       강동구        35        20    0.004     0.4   0.031    0.027
2       강북구        37        23    0.003     0.3   0.055    0.015
3       강서구        51        31    0.005     0.4   0.041    0.028
4       관악구        40        27    0.004     0.4   0.041    0.029
5       광진구        33        21    0.003     0.4   0.036    0.025
6       구로구        35        21    0.004     0.4   0.034    0.026
7       금천구        38        26    0.006     0.4   0.042    0.031
8       노원구        40        28    0.004     0.4   0.048    0.020
9       도봉구        29        28    0.004     0.4   0.049    0.014
10     동대문구        43        28    0.004     0.4   0.036    0.035
11      동작구        37        29    0.004     0.4   0.040    0.026
12      마포구        38        27    0.004     0.4   0.036    0.038
13     서대문구        38        19    0.004     0.4   0.046    0.025
14      서초구        33        17    0.003     0.4   0.041    0.021
15      성동구        38        20    0.003     0.3   0.028    0.027
16      성북구        40        28    0.004     0.5   0.040    0.027
17      송파구        31        18    0.005     0.4   0.040    0.028
18      양천구        43        34    0.004     0.5   0.037    0.030
19     영등포구        33        24    0.004     0.4   0.039    0.027
20      용산구        33        22    0.004     0.4   0.031    0.030
21      은평구        36        30    0.004     0.4   0.047    0.021
22      종로구        38        27    0.004     0.5   0.037    0.033
23       중구        34        26    0.004     0.4   0.039    0.033
24      중랑구        37        23    0.004     0.4   0.035    0.035

In [10]:
#입력은 sidoName-->sido name을  넣으면 df를 뽑아주는 함수
def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items] 
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName) 
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [11]:
!pip install gradio
#gradio는 install 해야됨
#gradio는 웹으로 데모를 만들어주는 프로그램
import gradio as gr

iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True)
#gradio에서 실행하면
#input은 dropdown-->이 형태를 쓰면 input을 한정해줌 
#

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7fdd1ee38b10>,
 'http://127.0.0.1:7860/',
 'https://54760.gradio.app')