<a href="https://colab.research.google.com/github/donggeunahn/class-2022-spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수는 크게 2가지

numbers, strings(text), list(tuple), dict

**number**-->integer(정수), float(실수--> 소수점일때 사용)

**string**을 넣는 방법-->''사용, ""사용

**list** 여러개를 담을 때 사용-->[  ,   ,   ]

tuple--> list와 비슷-->(,  ,  )
-->tuple은 item을 assign해서 내부를 바꿀 수 없다--> 코딩할때 중요한 정보를 지울까봐-->indexing은 가능

list의 아이템들을 부분적으로 사용할 때 indexing 필요
-->str도 동일한 방법

ex) a[0]-->a의 0번째 

a[:]--> 전부다

a[1:3]-->두번째부터 4번째(제외)

a[x:y]-->x포함 y제외

a[2][1]-->3번째 item의 2번째 

제일 마지막 줄은 print 안해도됨

**dict**--> dictionary의 준말
key와 value로 이루어짐

a의 0번째가 아니라 key로 indexing하기

key는 변수는 안되고 숫자 or str
-->큰 따옴표나 작은 따옴표 상관 X

여러개를 할때는 semi colon사용

In [ ]:
a = 1; print(type(a))

<class 'int'>

a에 1이 들어감

소숫점 없는거 interger

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1])
#''있으면 숫자라 할지라도 str이 됨

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])
#type a는 str

<class 'str'>
e

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10] print(type(a)) print(a[0])

In [ ]:
a[:]-->전부다
a[1:5]-->2번째 포함 6번째 배제
a[:5] -->처음부터 
a[1:-1]-->두번째부터 끝에서 하나뺀거까지

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])
#

<class 'list'>
1

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])
# list 안에 숫자, string, list가 들어있음
#a[2][1]--> list a의 3번째의 2번째
#a[1][1]-->2번째의 1번째-->이 경우 error

<class 'list'>
1
a
[3, '4']
4

In [1]:
a='abcdef123'
type(a)
#str
#str일때도 a[]방법으로 가능
#a[3:-1]-->def12

str

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
#dict는 key인 "a"로 indexing함
#single quote으로 바꿔도 됨

<class 'dict'>
apple